.wrapper{
  display: flex;
  gap: 50px;
  margin-bottom: 40px;
}

.details{
  max-width: 1200px;
}

h2,h3, h4, p, ul {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 28px;
}

img{
  width: 400px;
}

.text{
  font-size: 22px;
  line-height: 1.5;
  color: black;
}

.goBackLink{
  display: inline-block;
  margin-bottom: 20px;
  /* border: 1px solid rgb(171, 83, 179); */
  background-color: rgb(179, 178, 178);
  box-shadow: 0 4px 8px rgba(63, 62, 62, 0.5);
  color: white;
  font-size: 24px;
  font-weight: 500;
    border-radius: 10px;
  padding: 10px;
  text-decoration: none;

}

.goBackLink:hover,
.goBackLink:focus {
  scale: 1.05;
  background-color:rgb(171, 83, 179)
}