.actorList{
display: flex;
flex-wrap: wrap;
gap: 40px;
padding: 0;
}

.actorCard{
display: flex;
gap: 20px;
flex-wrap: wrap;
width: 500px;
min-height: 200px ;
border: 1px solid gray;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(63, 62,62, 0.5);
padding: 20px;
}

.photo{
  width: 130px;
  height: auto;
}

.character{
  margin: 0;
}