.container {
  padding: 0px 100px;
}

.header {
padding: 20px 0px;
background-color: rgb(171, 83, 179);
}

.navigation{
display: flex;
gap: 40px;
}

.link{
text-decoration: none;
color: inherit;
font-weight: 700;
  
}

.link:global(.active){
  color: white;
 
}