.container {
  padding: 0px 40px;
  margin: 0 auto;
}

.header {
background-color: rgb(171, 83, 179);
padding: 20px 0;
margin-bottom: 40px;
box-shadow: 0 4px 8px rgba(63, 62, 62, 0.5);
/* max-width: 100%; */
}

.navigation{
display: flex;
gap: 30px;

}

.link{
text-decoration: none;
color: inherit;
font-weight: 700;
  
}

.link:global(.active){
  color: white;
 
}